#screen {
  background-image: url(background.png);
  display: block;
  width: 320px;
  height: 568px;
  padding: 45px;
  padding-top: 200px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body, h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

input {

  width: 230px;
  height: 46px;
  outline: 0;
  border: 1px solid #3E4E4B;
  background-color: #566C56;
  border-radius: 4px;
  color: #7D8997;
}

input:focus {
  color: #fff;
  border: 1px solid #46A079;
}

#login-email, #login-password {
  margin-top: 20px;
  font-size: 14px;
  padding-left: 35px;
}

#login-text {
  text-align: center;
}

#login-submit {
  text-transform: uppercase;
  color: #fff;
  border-radius: 5px;
  background-color: #3C3C3C;
  outline: 0;
  width: 191px;
  height: 55px;
  font-size: 18px;
  margin-top: 20px;
  font-weight: 300;
}

#login-submit-wrapper {
  text-align: center;
}

#login-forgot-pw {
  margin-top: 20px;
  color: #B4B998;
  text-align: center;
  font-weight: 300;
}

#login-with-fb {
  color: #fff;
  text-align: center;
  margin-top: 30px;
  font-weight: 100;
}

.title {
  text-transform: uppercase;
  color: #C9C5C8;
  font-weight: 400;
}